name: Build APK (Docker)
on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      
      # Create icon to prevent crashes
      - name: Create Icon
        run: |
          wget https://raw.githubusercontent.com/kivy/kivy/master/kivy/data/logo/kivy-icon-64.png -O icon.png

      # Use the pre-made action (Fast)
      - name: Build
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
